*{
    margin: 0;
    padding: 0;
}
html{
     scroll-behavior: smooth;        /*  scrolling property */
}
.bg1{
   background: url(https://www.wallpaperup.com/uploads/wallpapers/2012/01/08/604/e2e009f44a3c64b5e013bfbab8173b19-700.jpg);                 /* design body and image*/
   background-repeat: no-repeat;
   background-size: 100% 700px; 
   background-position-x: center;
   margin-top: 100px; 
   text-align: center; 
}
.p1{
    
   font-family: 'Dancing Script', cursive;   /*top hadding*/
   font-family: 'Pacifico', cursive;
   font-size: 90px;
   margin: 20px;
   color: rgb(24, 23, 23);
   text-shadow:6px 6px 4px  white;
   position: -webkit-sticky;
}
#mr{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: -100px;
   
    
    opacity: 0.6; 
}
.nv{
    width: 1000px;           /*second hadding*/
    height: 60px;
    border-width: 2px;
   
    margin-left: 350px;
  
}
.nv ul{
    padding: 0;
}
.a{
    text-decoration: none;
    color: rgb(212, 200, 200);
}

.nv ul li{
    float: left;     /*all list left bar horigental side */
    width: 200px;    /*the hole list hadding in tool bar like home place etc*/
    list-style: none;
    line-height: 50px;  
    text-align: center;
    background-color: black;
    color: rgb(206, 205, 205);
    text-transform: capitalize;
    opacity: 0.6;
    font-size: 20px;
    
}
.nv ul li:hover{
    background-color: rgba(58, 16, 16, 0.904);
    opacity: 0.9;
    border-color: rgb(8, 8, 8);
    border-style: solid;
    box-shadow: 2px 2px 4px 2px;
}
.nv ul li ul{
    display: none;
}
.nv ul li:hover>ul{
    display: block;
}
.photoo{
    margin-top: 50px;           /*photos*/
    display: flex;
    overflow-x: auto;
    margin-left: 200px;
    margin-right: 200px; 
    margin-top: -90px;
    
    height: 200px;   
}
.photoo .ph{
    width:180px ;
  height: 200px;

  display: flex;
   margin-right: 40px;            /*     use to photo space */
  
}
.photoo::-webkit-scrollbar         /*photo scroll bar*/
{            
    width: 0;                    /*remove style in scrollbar*/
    height: 0;
}
.photo{
    border-radius: 50%;             /*circle photo shape*/
    width: 130px;
    height: 130px;
   margin: 0 auto;
   margin-top: 10px;
   margin-left: 7px;
}
.photoo .ph .photo:hover            /*scrolling bif and small*/
{
 transform: scale(1.1,1.1);
 transition: 0.1s;
} 
.footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,15rem);
    text-align: left;
    padding: 2rem;
    padding-left: 260px;
    background-color:black;
    color:gray;
    font-size: 18px;
    opacity: 0.8;
    text-align: center;
}
.footer ul{
    list-style-type: none;
}
.footer ul li:first-child{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom:gray solid 1px ;
    margin-bottom: 1rem;
}
.copy{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding-top: 15px;
    background-color: rgb(15, 13, 13);
    color: gray;
}
h2{
    color: rgb(78, 15, 15);
    text-shadow: 1px 1px 2px rgb(105, 9, 9);
    text-transform: capitalize;
}
.visit{
    width: 1100px;
    height: 320px;
    margin: 0 auto;
    border-width: 1px;
    border-color: rgb(211, 204, 204);
    border-style: solid;
    opacity: 0.8;
    box-shadow: 2px 2px 6px 3px ;
    border-radius: 70px;
}
.visit:hover{
    opacity: 1;
}
.visit .ph .photo:hover{
    transform: scale(1.1,1.1);
    transition: 0.1s;
}
.visit p{
     margin-top: 20px; 
}
.visit h2{
    margin-top: 10px;
}
.arrow:hover{
    transform: translatex(200px);
    transition: 3s;
}

/* 2 file */
.head{
    text-align: center;
    font-size: 70px;
    text-transform: capitalize;
    background:linear-gradient(50deg, #852528 16.666%,#E16541 10.666%,#E16541 35.333%,#F18F43 33.333%,#F18F43 40%,#8B9862 60%,#8B9862 66.666%,#476098 66.666%,#47609883 30.333%,#A7489B 80.333%);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    
}
.box{
    display: block;    /*photo in block*/
    float: left;    /* photos attach 1 by 1*/
    width: 20%;
    margin: 10px;
}
.photo11{
    width: 280px;
    height: 200px;
   border-radius: 10px;
   
   border-style: solid;
   border-width: 2px;
   box-shadow: 2px 2px 6px 2px ;
}
.album{
    padding-top: 70px;
  margin-left: 130px;
}
.photo11:hover{
    transform: scale(1.5,1.5);
    transition: .9s;
}
.nave{
    width: 1000px;           /*second hadding*/
    height: 150px;
    background-color: rgba(80, 155, 168, 0.774);
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    transform: scale(1,1);
    transition: .2s;
    border-radius: 20px; 
    box-shadow: 2px 2px 4px 2px; 
}

.nave ul li{
    float: left;     /*all list left bar horigental side */
    width: 200px;    /*the hole list hadding in tool bar like home place etc*/
    list-style: none;
    line-height: 50px; 
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;  
}
.nave ul li:hover{
    background-color: rgb(34, 34, 34);
    color: white;
    transform: scale(1,1);
    transition: .3s;
    border-radius: 5px;
    font-size:25px ;
}
.A{
    text-decoration: none;
    color: black;
}
.A:hover{
    color:white;
}
